{% extends 'main.html' %}
{% load static %}

{% block content %}
<section class="area-login">
        
       
    <div id="container" class="login">


        <div><img src="{% static 'IMG/scratch.png' %}" width="400px"/></div>

        <form method="post" name="form" action="/dologin/" id="form">
        {%csrf_token%}
        <h1>Login:</h1>
        <input type="text" placeholder="Digite o Login" name="nome"autofocus>
        <input type="submit" value="entrar" class="botao">
        </form>

{% endblock %}